.element {
  background-color: #fbfbfb;
  width: 100%;
  min-width: 393px;
  min-height: 852px;
  position: relative;
}

.element .vector {
  position: absolute;
  top: 98px;
  left: 16px;
  width: 361px;
  height: 1px;
}

.element .group {
  position: absolute;
  top: 121px;
  left: 92px;
  width: 209px;
  height: 9px;
}

.element .upload-property {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 9px;
}

.element .img {
  position: absolute;
  width: 10.90%;
  height: 33.77%;
  top: 22.08%;
  left: 79.80%;
}

.element .text-wrapper {
  width: 36.22%;
  height: 32.47%;
  top: 23.38%;
  left: 30.77%;
  font-family: "Cairo-Bold", Helvetica;
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame {
  position: absolute;
  width: 98.08%;
  height: 74.03%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #fe4f146e;
  border-radius: 2px;
}

.element .div {
  margin-bottom: -0.3px;
  width: 1px;
  height: 44px;
  margin-left: 0.9px;
  position: relative;
  color: #ffffff;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .div-wrapper {
  width: 22.05%;
  height: 74.03%;
  top: 0;
  left: 26.30%;
  align-items: flex-end;
  justify-content: center;
  background-color: #ff784c;
  border-radius: 2px;
  position: absolute;
  display: flex;
}

.element .frame-2 {
  position: absolute;
  width: 22.05%;
  height: 74.03%;
  top: 0;
  left: 52.13%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #d9d9d9b2;
  border-radius: 2px;
}

.element .frame-3 {
  position: absolute;
  width: 22.05%;
  height: 74.03%;
  top: 0;
  left: 77.95%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #d9d9d9b2;
  border-radius: 2px;
}

.element .group-2 {
  position: absolute;
  top: 33px;
  left: 21px;
  width: 238px;
  height: 65px;
}

.element .group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  display: flex;
  align-items: flex-end;
  min-width: 238px;
}

.element .group-3 {
  width: 99px;
  height: 48px;
  background-image: url(./img/group-14.svg);
  background-size: 100% 100%;
}

.element .image {
  top: 35px;
  left: 97px;
  width: 19px;
  height: 19px;
  position: absolute;
  aspect-ratio: 1;
  object-fit: cover;
}

.element .text-wrapper-2 {
  position: absolute;
  top: 163px;
  left: calc(50.00% - 186px);
  width: 125px;
  font-family: "Pontano Sans-Bold", Helvetica;
  font-weight: 700;
  color: #d54819;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-3 {
  position: absolute;
  top: 196px;
  left: calc(50.00% - 190px);
  width: 162px;
  font-family: "Pontano Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-wrapper {
  position: absolute;
  width: 100%;
  height: 9.51%;
  top: 90.49%;
  left: 0;
  display: flex;
}

.element .frame-4 {
  flex: 1;
  width: 393px;
  position: relative;
  background-color: #ffffff;
  box-shadow:
    inset 0px 1.5px 4px #0000001a, inset 0px 1.5px 4px #00000014, inset 0px -0.5px 1px #ffffff40, inset 0px -0.5px 1px #ffffff4c;
}

.element .text-wrapper-4 {
  position: absolute;
  left: 50.00%;
  bottom: 0;
  color: #d9d9d96e;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-4 {
  position: absolute;
  top: 6px;
  left: 52px;
  width: 289px;
  height: 64px;
}

.element .group-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 295px;
  height: 63px;
}

.element .image-2 {
  top: 0;
  left: 4px;
  width: 51px;
  height: 51px;
  position: absolute;
  aspect-ratio: 1;
  object-fit: cover;
}

.element .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 147px);
  width: 54px;
  font-family: "Readex Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ff784c;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-6 {
  left: calc(50.00% - 30px);
  position: absolute;
  top: 0;
  width: 54px;
  font-family: "Readex Pro-Bold", Helvetica;
  font-weight: 700;
  color: #a8a8a8;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-7 {
  left: calc(50.00% + 87px);
  position: absolute;
  top: 0;
  width: 54px;
  font-family: "Readex Pro-Bold", Helvetica;
  font-weight: 700;
  color: #a8a8a8;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .icon-oasis-removebg {
  position: absolute;
  top: 0;
  left: 126px;
  width: 37px;
  height: 45px;
  aspect-ratio: 0.82;
}

.element .icon-log {
  position: absolute;
  top: 0;
  left: 240px;
  width: 43px;
  height: 45px;
  aspect-ratio: 0.95;
  object-fit: cover;
}

.element .group-6 {
  position: absolute;
  top: 243px;
  left: 32px;
  width: 329px;
  height: 472px;
}

.element .group-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 329px;
  height: 472px;
}

.element .upload-property-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  height: 305px;
}

.element .vector-2 {
  position: absolute;
  width: 10.90%;
  height: 33.77%;
  top: 22.08%;
  left: 79.81%;
}

.element .text-wrapper-8 {
  width: 36.22%;
  height: 32.47%;
  top: 23.38%;
  left: 30.77%;
  font-family: "Cairo-Bold", Helvetica;
  font-weight: 700;
  font-size: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-5 {
  width: 98.08%;
  height: 74.03%;
  top: 0;
  left: 0;
  align-items: flex-end;
  justify-content: center;
  border-radius: var(--kit-scroll-edge-effect-blur-radius);
  border: 3px solid;
  border-color: #ff784c;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  display: flex;
}

.element .text-wrapper-9 {
  margin-bottom: -0.5px;
  width: 1px;
  height: 44px;
  margin-left: 1.9px;
  position: relative;
  color: #ffffff;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-6 {
  top: 1px;
  left: 174px;
  width: 155px;
  height: 226px;
  border-radius: var(--kit-scroll-edge-effect-blur-radius);
  border: 3px solid;
  border-color: #ff784c;
  background-image: url(./img/frame-1437252866.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  display: flex;
}

.element .text-wrapper-10 {
  margin-top: 182px;
  width: 1px;
  height: 44px;
  margin-left: 78px;
  color: #ffffff;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-7 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 155px;
  height: 226px;
  display: flex;
  border-radius: var(--kit-scroll-edge-effect-blur-radius);
  border: 3px solid;
  border-color: #ff784c;
  background-image: url(./img/frame-1437252867.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element .frame-8 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 155px;
  height: 226px;
  display: flex;
  border-radius: var(--kit-scroll-edge-effect-blur-radius);
  border: 3px solid;
  border-color: #ff784c;
  background-image: url(./img/frame-1437252868.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element .frame-9 {
  position: absolute;
  top: 246px;
  left: 174px;
  width: 155px;
  height: 226px;
  display: flex;
  border-radius: var(--kit-scroll-edge-effect-blur-radius);
  border: 3px solid;
  border-color: #ff784c;
  background-image: url(./img/frame-1437252869.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element .frame-10 {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 150px;
  height: 220px;
  display: flex;
  background-color: #131416;
  border-radius: 7.5px;
  opacity: 0.5;
}

.element .text-wrapper-11 {
  margin-top: 176px;
  width: 1px;
  height: 44px;
  margin-left: 75px;
  color: #ffffff;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-11 {
  position: absolute;
  top: 3px;
  left: 176px;
  width: 150px;
  height: 220px;
  display: flex;
  background-color: #131416;
  border-radius: 7.5px;
  opacity: 0.5;
}

.element .frame-12 {
  position: absolute;
  top: 249px;
  left: 176px;
  width: 150px;
  height: 220px;
  display: flex;
  background-color: #131416;
  border-radius: 7.5px;
  opacity: 0.5;
}

.element .frame-13 {
  position: absolute;
  top: 249px;
  left: 2px;
  width: 150px;
  height: 220px;
  display: flex;
  background-color: #131416;
  border-radius: 7.5px;
  opacity: 0.5;
}

.element .text-wrapper-12 {
  top: 298px;
  left: 73px;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-13 {
  top: 298px;
  left: 250px;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-14 {
  top: 539px;
  left: 73px;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-15 {
  top: 539px;
  left: 250px;
  font-family: "Baloo Tamma 2-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
